@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
   height: 100%;
}

body {
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Press Start 2P', cursive;
}

#viewport {
   background-image: url('../images/water0.png');
   width: 820px;
   height: 300px;
   position: relative;
   overflow-x: auto;   
   overflow-y: hidden;
}

#ports {
   position: absolute;
   top: 125px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.port {
   margin: 0 95px;
   width: 64px;
   height: 32px;
   background-image: url('../images/port.png');
}

.ship {
   background-image: url('../images/ship.png');
   background-repeat: no-repeat;
   position: absolute;
   top: 155px;
   left: 60px;
   width: 128px;
   height: 64px;
   transition: left 5s ease;
}

#sail-button, #return-button, #clear-ports-button {
   top: 286px;
   left: 0;
   position: sticky;
   width: 100%;
   height: 36px;
   border: none;
   border-bottom: 4px solid #d8040f;
   outline-style: none;
   padding-top: 5px;
   background-color: #FB3640;
   text-align: center;
   color: white;
   font-size: 22px;
   letter-spacing: 3px;
   text-transform: uppercase;
}
#sail-button:active {
  background-color: #d8040f;
}

#return-button {
   width: 820px;
   margin-top: 0px;
   display: none;
   background-color: #08a8d9;
   border-top: 3px solid #0373eb;
   border-bottom: 3px solid #0373eb;
}

#return-button:active {
   background-color: #0373eb;
}


#messagebox {
   border-top: solid 4px black;
   width: 100%;
   height: 42px;
   background-color: rgb(255, 255, 255);
   margin-top: 20px;
   position: sticky;
   top: 286px;
   left: 0;
   box-sizing: border-box;
   padding: 10px;
   display: none;
}

#hud {
   position: absolute;
   top: 20px;
   right: 20px;
   color: white;
   text-align: right;
}

#hud div {
   margin-top: 20px;
}

form {
   position: absolute;
   top: 20px;
   left: 20px; 
   border-bottom: solid 3px #d8040f;
   border-right: solid 3px #d8040f;
   box-shadow: -4px -3px 0px #d8040f;   
   background-color: white;
   padding: 5px;
   display: flex;
   flex-direction: column;

}

form * {
   margin: 8px;
}

form > button {
   width: 80px;
   height: 28px;
   background-color: #FB3640;
   color: white;
   outline: none;
   border-bottom: 2px solid #d8040f;
   
}

form > input {
   height: 28px;
}

#clear-ports-button{
   width: auto;
   font-size: 0.7rem;
   position: absolute;
   left: 20px;
   top: 180px;
}

#clear-ports-button:active {
   background-color: #d8040f;
 }